In [1]:
import numpy as np
import pandas as pd

In [4]:
pd.read_csv('zoo.csv', delimiter=',') #reading a csv file ;) THIS is a DATAFRAME (2d or more data). 1d array is SERIES

      animal  uniq_id  water_need
0   elephant     1001         500
1   elephant     1002         600
2   elephant     1003         550
3      tiger     1004         300
4      tiger     1005         320
5      tiger     1006         330
6      tiger     1007         290
7      tiger     1008         310
8      zebra     1009         200
9      zebra     1010         220
10     zebra     1011         240
11     zebra     1012         230
12     zebra     1013         220
13     zebra     1014         100
14     zebra     1015          80
15      lion     1016         420
16      lion     1017         600
17      lion     1018         500
18      lion     1019         390
19  kangaroo     1020         410
20  kangaroo     1021         430
21  kangaroo     1022         410

In [6]:
pd.read_csv('pandas_tutorial_read.csv', delimiter = ';')

      2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
0     2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
1     2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
2     2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
3     2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
4     2018-01-01 00:05:42  read  country_6  2458151266   Reddit  North America
5     2018-01-01 00:06:06  read  country_2  2458151267   Reddit         Europe
6     2018-01-01 00:06:15  read  country_6  2458151268  AdWords         Europe
7     2018-01-01 00:07:21  read  country_7  2458151269  AdWords  North America
8     2018-01-01 00:07:29  read  country_5  2458151270   Reddit  North America
9     2018-01-01 00:07:57  read  country_5  2458151271  AdWords           Asia
10    2018-01-01 00:08:57  read  country_7  2458151272      SEO      Australia
11    2018-01-01 00:09:11  read  country_5  2458151273   Reddit           Asia
12    2018-01-01 00:09:29  read  country_2  2458151274   Reddit         Europe
13    2018-01-01 00:11:06  read  country_7  2458151275   Reddit         Africa
14    2018-01-01 00:11:22  read  country_7  2458151276      SEO  North America
15    2018-01-01 00:13:05  read  country_8  2458151277      SEO  North America
16    2018-01-01 00:13:06  read  country_2  2458151278   Reddit           Asia
17    2018-01-01 00:13:39  read  country_4  2458151279      SEO  North America
18    2018-01-01 00:14:53  read  country_2  2458151280   Reddit           Asia
19    2018-01-01 00:15:44  read  country_2  2458151281   Reddit           Asia
20    2018-01-01 00:15:50  read  country_7  2458151282   Reddit         Africa
21    2018-01-01 00:17:15  read  country_2  2458151283  AdWords         Europe
22    2018-01-01 00:17:31  read  country_2  2458151284   Reddit           Asia
23    2018-01-01 00:17:58  read  country_7  2458151285   Reddit         Africa
24    2018-01-01 00:18:55  read  country_2  2458151286  AdWords  North America
25    2018-01-01 00:20:18  read  country_5  2458151287      SEO  North America
26    2018-01-01 00:20:44  read  country_2  2458151288      SEO  North America
27    2018-01-01 00:23:16  read  country_2  2458151289   Reddit           Asia
28    2018-01-01 00:23:51  read  country_7  2458151290   Reddit           Asia
29    2018-01-01 00:24:52  read  country_6  2458151291      SEO  North America
...                   ...   ...        ...         ...      ...            ...
1764  2018-01-01 23:41:11  read  country_2  2458153026   Reddit         Africa
1765  2018-01-01 23:41:51  read  country_5  2458153027  AdWords           Asia
1766  2018-01-01 23:43:54  read  country_5  2458153028  AdWords         Europe
1767  2018-01-01 23:44:52  read  country_8  2458153029   Reddit  South America
1768  2018-01-01 23:45:09  read  country_5  2458153030  AdWords      Australia
1769  2018-01-01 23:45:12  read  country_6  2458153031   Reddit           Asia
1770  2018-01-01 23:45:56  read  country_5  2458153032  AdWords         Africa
1771  2018-01-01 23:45:58  read  country_7  2458153033      SEO  South America
1772  2018-01-01 23:46:13  read  country_8  2458153034   Reddit           Asia
1773  2018-01-01 23:46:22  read  country_2  2458153035  AdWords           Asia
1774  2018-01-01 23:47:19  read  country_2  2458153036  AdWords           Asia
1775  2018-01-01 23:49:04  read  country_6  2458153037   Reddit           Asia
1776  2018-01-01 23:49:52  read  country_5  2458153038      SEO  North America
1777  2018-01-01 23:51:17  read  country_2  2458153039   Reddit           Asia
1778  2018-01-01 23:51:25  read  country_4  2458153040      SEO  South America
1779  2018-01-01 23:51:46  read  country_8  2458153041  AdWords         Africa
1780  2018-01-01 23:51:52  read  country_2  2458153042   Reddit           Asia
1781  2018-01-01 23:53:03  read  country_2  2458153043  AdWords           Asia
1782  2018-01-01 23:53:33  read  country_3  2458153044   Reddit           Asia
1783  2018-01-01 23:54:03  read  country_2  2458153045      SEO  North America
1784  2018-01-01 23:54:26  read  country_2  2458153046  AdWords         Africa
1785  2018-01-01 23:54:39  read  country_6  2458153047   Reddit           Asia
1786  2018-01-01 23:54:45  read  country_2  2458153048   Reddit           Asia
1787  2018-01-01 23:55:04  read  country_7  2458153049  AdWords         Europe
1788  2018-01-01 23:56:42  read  country_4  2458153050  AdWords           Asia
1789  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1790  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1791  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1792  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1793  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

[1794 rows x 6 columns]

In [7]:
#Setting a header for the pandas dataframe
pd.read_csv('pandas_tutorial_read.csv', 
            delimiter=';', 
            names = ['my_datetime', 'event', 'country', 'user_id', 'source', 'topic'])

              my_datetime event    country     user_id   source          topic
0     2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1     2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2     2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3     2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4     2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
5     2018-01-01 00:05:42  read  country_6  2458151266   Reddit  North America
6     2018-01-01 00:06:06  read  country_2  2458151267   Reddit         Europe
7     2018-01-01 00:06:15  read  country_6  2458151268  AdWords         Europe
8     2018-01-01 00:07:21  read  country_7  2458151269  AdWords  North America
9     2018-01-01 00:07:29  read  country_5  2458151270   Reddit  North America
10    2018-01-01 00:07:57  read  country_5  2458151271  AdWords           Asia
11    2018-01-01 00:08:57  read  country_7  2458151272      SEO      Australia
12    2018-01-01 00:09:11  read  country_5  2458151273   Reddit           Asia
13    2018-01-01 00:09:29  read  country_2  2458151274   Reddit         Europe
14    2018-01-01 00:11:06  read  country_7  2458151275   Reddit         Africa
15    2018-01-01 00:11:22  read  country_7  2458151276      SEO  North America
16    2018-01-01 00:13:05  read  country_8  2458151277      SEO  North America
17    2018-01-01 00:13:06  read  country_2  2458151278   Reddit           Asia
18    2018-01-01 00:13:39  read  country_4  2458151279      SEO  North America
19    2018-01-01 00:14:53  read  country_2  2458151280   Reddit           Asia
20    2018-01-01 00:15:44  read  country_2  2458151281   Reddit           Asia
21    2018-01-01 00:15:50  read  country_7  2458151282   Reddit         Africa
22    2018-01-01 00:17:15  read  country_2  2458151283  AdWords         Europe
23    2018-01-01 00:17:31  read  country_2  2458151284   Reddit           Asia
24    2018-01-01 00:17:58  read  country_7  2458151285   Reddit         Africa
25    2018-01-01 00:18:55  read  country_2  2458151286  AdWords  North America
26    2018-01-01 00:20:18  read  country_5  2458151287      SEO  North America
27    2018-01-01 00:20:44  read  country_2  2458151288      SEO  North America
28    2018-01-01 00:23:16  read  country_2  2458151289   Reddit           Asia
29    2018-01-01 00:23:51  read  country_7  2458151290   Reddit           Asia
...                   ...   ...        ...         ...      ...            ...
1765  2018-01-01 23:41:11  read  country_2  2458153026   Reddit         Africa
1766  2018-01-01 23:41:51  read  country_5  2458153027  AdWords           Asia
1767  2018-01-01 23:43:54  read  country_5  2458153028  AdWords         Europe
1768  2018-01-01 23:44:52  read  country_8  2458153029   Reddit  South America
1769  2018-01-01 23:45:09  read  country_5  2458153030  AdWords      Australia
1770  2018-01-01 23:45:12  read  country_6  2458153031   Reddit           Asia
1771  2018-01-01 23:45:56  read  country_5  2458153032  AdWords         Africa
1772  2018-01-01 23:45:58  read  country_7  2458153033      SEO  South America
1773  2018-01-01 23:46:13  read  country_8  2458153034   Reddit           Asia
1774  2018-01-01 23:46:22  read  country_2  2458153035  AdWords           Asia
1775  2018-01-01 23:47:19  read  country_2  2458153036  AdWords           Asia
1776  2018-01-01 23:49:04  read  country_6  2458153037   Reddit           Asia
1777  2018-01-01 23:49:52  read  country_5  2458153038      SEO  North America
1778  2018-01-01 23:51:17  read  country_2  2458153039   Reddit           Asia
1779  2018-01-01 23:51:25  read  country_4  2458153040      SEO  South America
1780  2018-01-01 23:51:46  read  country_8  2458153041  AdWords         Africa
1781  2018-01-01 23:51:52  read  country_2  2458153042   Reddit           Asia
1782  2018-01-01 23:53:03  read  country_2  2458153043  AdWords           Asia
1783  2018-01-01 23:53:33  read  country_3  2458153044   Reddit           Asia
1784  2018-01-01 23:54:03  read  country_2  2458153045      SEO  North America
1785  2018-01-01 23:54:26  read  country_2  2458153046  AdWords         Africa
1786  2018-01-01 23:54:39  read  country_6  2458153047   Reddit           Asia
1787  2018-01-01 23:54:45  read  country_2  2458153048   Reddit           Asia
1788  2018-01-01 23:55:04  read  country_7  2458153049  AdWords         Europe
1789  2018-01-01 23:56:42  read  country_4  2458153050  AdWords           Asia
1790  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1792  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1793  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1794  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

[1795 rows x 6 columns]

In [9]:
#store in a variable
article_read = pd.read_csv('pandas_tutorial_read.csv',
                           delimiter=';',
                           names = ['my_datetime', 'event', 'country', 'user_id', 'source', 'topic'])

In [11]:
article_read

              my_datetime event    country     user_id   source          topic
0     2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1     2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2     2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3     2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4     2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
5     2018-01-01 00:05:42  read  country_6  2458151266   Reddit  North America
6     2018-01-01 00:06:06  read  country_2  2458151267   Reddit         Europe
7     2018-01-01 00:06:15  read  country_6  2458151268  AdWords         Europe
8     2018-01-01 00:07:21  read  country_7  2458151269  AdWords  North America
9     2018-01-01 00:07:29  read  country_5  2458151270   Reddit  North America
10    2018-01-01 00:07:57  read  country_5  2458151271  AdWords           Asia
11    2018-01-01 00:08:57  read  country_7  2458151272      SEO      Australia
12    2018-01-01 00:09:11  read  country_5  2458151273   Reddit           Asia
13    2018-01-01 00:09:29  read  country_2  2458151274   Reddit         Europe
14    2018-01-01 00:11:06  read  country_7  2458151275   Reddit         Africa
15    2018-01-01 00:11:22  read  country_7  2458151276      SEO  North America
16    2018-01-01 00:13:05  read  country_8  2458151277      SEO  North America
17    2018-01-01 00:13:06  read  country_2  2458151278   Reddit           Asia
18    2018-01-01 00:13:39  read  country_4  2458151279      SEO  North America
19    2018-01-01 00:14:53  read  country_2  2458151280   Reddit           Asia
20    2018-01-01 00:15:44  read  country_2  2458151281   Reddit           Asia
21    2018-01-01 00:15:50  read  country_7  2458151282   Reddit         Africa
22    2018-01-01 00:17:15  read  country_2  2458151283  AdWords         Europe
23    2018-01-01 00:17:31  read  country_2  2458151284   Reddit           Asia
24    2018-01-01 00:17:58  read  country_7  2458151285   Reddit         Africa
25    2018-01-01 00:18:55  read  country_2  2458151286  AdWords  North America
26    2018-01-01 00:20:18  read  country_5  2458151287      SEO  North America
27    2018-01-01 00:20:44  read  country_2  2458151288      SEO  North America
28    2018-01-01 00:23:16  read  country_2  2458151289   Reddit           Asia
29    2018-01-01 00:23:51  read  country_7  2458151290   Reddit           Asia
...                   ...   ...        ...         ...      ...            ...
1765  2018-01-01 23:41:11  read  country_2  2458153026   Reddit         Africa
1766  2018-01-01 23:41:51  read  country_5  2458153027  AdWords           Asia
1767  2018-01-01 23:43:54  read  country_5  2458153028  AdWords         Europe
1768  2018-01-01 23:44:52  read  country_8  2458153029   Reddit  South America
1769  2018-01-01 23:45:09  read  country_5  2458153030  AdWords      Australia
1770  2018-01-01 23:45:12  read  country_6  2458153031   Reddit           Asia
1771  2018-01-01 23:45:56  read  country_5  2458153032  AdWords         Africa
1772  2018-01-01 23:45:58  read  country_7  2458153033      SEO  South America
1773  2018-01-01 23:46:13  read  country_8  2458153034   Reddit           Asia
1774  2018-01-01 23:46:22  read  country_2  2458153035  AdWords           Asia
1775  2018-01-01 23:47:19  read  country_2  2458153036  AdWords           Asia
1776  2018-01-01 23:49:04  read  country_6  2458153037   Reddit           Asia
1777  2018-01-01 23:49:52  read  country_5  2458153038      SEO  North America
1778  2018-01-01 23:51:17  read  country_2  2458153039   Reddit           Asia
1779  2018-01-01 23:51:25  read  country_4  2458153040      SEO  South America
1780  2018-01-01 23:51:46  read  country_8  2458153041  AdWords         Africa
1781  2018-01-01 23:51:52  read  country_2  2458153042   Reddit           Asia
1782  2018-01-01 23:53:03  read  country_2  2458153043  AdWords           Asia
1783  2018-01-01 23:53:33  read  country_3  2458153044   Reddit           Asia
1784  2018-01-01 23:54:03  read  country_2  2458153045      SEO  North America
1785  2018-01-01 23:54:26  read  country_2  2458153046  AdWords         Africa
1786  2018-01-01 23:54:39  read  country_6  2458153047   Reddit           Asia
1787  2018-01-01 23:54:45  read  country_2  2458153048   Reddit           Asia
1788  2018-01-01 23:55:04  read  country_7  2458153049  AdWords         Europe
1789  2018-01-01 23:56:42  read  country_4  2458153050  AdWords           Asia
1790  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1792  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1793  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1794  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

[1795 rows x 6 columns]

In [12]:
article_read.head() #first 5 lines

           my_datetime event    country     user_id   source          topic
0  2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1  2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2  2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3  2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4  2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America

In [13]:
article_read.tail() #last 5 lines

              my_datetime event    country     user_id   source          topic
1790  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1792  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1793  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1794  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

In [16]:
article_read.sample(3) #rand 3 lines

              my_datetime event    country     user_id   source          topic
5     2018-01-01 00:05:42  read  country_6  2458151266   Reddit  North America
927   2018-01-01 12:23:21  read  country_4  2458152188   Reddit           Asia
1717  2018-01-01 23:08:49  read  country_7  2458152978  AdWords      Australia

In [20]:
article_read[['country', 'user_id']] #specific columns

        country     user_id
0     country_7  2458151261
1     country_7  2458151262
2     country_7  2458151263
3     country_7  2458151264
4     country_8  2458151265
5     country_6  2458151266
6     country_2  2458151267
7     country_6  2458151268
8     country_7  2458151269
9     country_5  2458151270
10    country_5  2458151271
11    country_7  2458151272
12    country_5  2458151273
13    country_2  2458151274
14    country_7  2458151275
15    country_7  2458151276
16    country_8  2458151277
17    country_2  2458151278
18    country_4  2458151279
19    country_2  2458151280
20    country_2  2458151281
21    country_7  2458151282
22    country_2  2458151283
23    country_2  2458151284
24    country_7  2458151285
25    country_2  2458151286
26    country_5  2458151287
27    country_2  2458151288
28    country_2  2458151289
29    country_7  2458151290
...         ...         ...
1765  country_2  2458153026
1766  country_5  2458153027
1767  country_5  2458153028
1768  country_8  2458153029
1769  country_5  2458153030
1770  country_6  2458153031
1771  country_5  2458153032
1772  country_7  2458153033
1773  country_8  2458153034
1774  country_2  2458153035
1775  country_2  2458153036
1776  country_6  2458153037
1777  country_5  2458153038
1778  country_2  2458153039
1779  country_4  2458153040
1780  country_8  2458153041
1781  country_2  2458153042
1782  country_2  2458153043
1783  country_3  2458153044
1784  country_2  2458153045
1785  country_2  2458153046
1786  country_6  2458153047
1787  country_2  2458153048
1788  country_7  2458153049
1789  country_4  2458153050
1790  country_2  2458153051
1791  country_8  2458153052
1792  country_6  2458153053
1793  country_7  2458153054
1794  country_5  2458153055

[1795 rows x 2 columns]

In [21]:
article_read.user_id

0       2458151261
1       2458151262
2       2458151263
3       2458151264
4       2458151265
5       2458151266
6       2458151267
7       2458151268
8       2458151269
9       2458151270
10      2458151271
11      2458151272
12      2458151273
13      2458151274
14      2458151275
15      2458151276
16      2458151277
17      2458151278
18      2458151279
19      2458151280
20      2458151281
21      2458151282
22      2458151283
23      2458151284
24      2458151285
25      2458151286
26      2458151287
27      2458151288
28      2458151289
29      2458151290
           ...
1765    2458153026
1766    2458153027
1767    2458153028
1768    2458153029
1769    2458153030
1770    2458153031
1771    2458153032
1772    2458153033
1773    2458153034
1774    2458153035
1775    2458153036
1776    2458153037
1777    2458153038
1778    2458153039
1779    2458153040
1780    2458153041
1781    2458153042
1782    2458153043
1783    2458153044
1784    2458153045
1785    2458153046
1786    2458153047
1787    2458153048
1788    2458153049
1789    2458153050
1790    2458153051
1791    2458153052
1792    2458153053
1793    2458153054
1794    2458153055
Name: user_id, Length: 1795, dtype: int64

In [22]:
article_read[['user_id']]

         user_id
0     2458151261
1     2458151262
2     2458151263
3     2458151264
4     2458151265
5     2458151266
6     2458151267
7     2458151268
8     2458151269
9     2458151270
10    2458151271
11    2458151272
12    2458151273
13    2458151274
14    2458151275
15    2458151276
16    2458151277
17    2458151278
18    2458151279
19    2458151280
20    2458151281
21    2458151282
22    2458151283
23    2458151284
24    2458151285
25    2458151286
26    2458151287
27    2458151288
28    2458151289
29    2458151290
...          ...
1765  2458153026
1766  2458153027
1767  2458153028
1768  2458153029
1769  2458153030
1770  2458153031
1771  2458153032
1772  2458153033
1773  2458153034
1774  2458153035
1775  2458153036
1776  2458153037
1777  2458153038
1778  2458153039
1779  2458153040
1780  2458153041
1781  2458153042
1782  2458153043
1783  2458153044
1784  2458153045
1785  2458153046
1786  2458153047
1787  2458153048
1788  2458153049
1789  2458153050
1790  2458153051
1791  2458153052
1792  2458153053
1793  2458153054
1794  2458153055

[1795 rows x 1 columns]

In [23]:
article_read[article_read.topic == 'Africa'] #select all instances with topic equals to 'Africa'

              my_datetime event    country     user_id   source   topic
2     2018-01-01 00:04:01  read  country_7  2458151263  AdWords  Africa
14    2018-01-01 00:11:06  read  country_7  2458151275   Reddit  Africa
21    2018-01-01 00:15:50  read  country_7  2458151282   Reddit  Africa
24    2018-01-01 00:17:58  read  country_7  2458151285   Reddit  Africa
52    2018-01-01 00:44:47  read  country_3  2458151313   Reddit  Africa
68    2018-01-01 01:02:40  read  country_7  2458151329  AdWords  Africa
77    2018-01-01 01:12:51  read  country_4  2458151338      SEO  Africa
78    2018-01-01 01:13:01  read  country_8  2458151339   Reddit  Africa
80    2018-01-01 01:14:24  read  country_4  2458151341      SEO  Africa
82    2018-01-01 01:17:10  read  country_2  2458151343   Reddit  Africa
95    2018-01-01 01:23:44  read  country_6  2458151356   Reddit  Africa
110   2018-01-01 01:37:56  read  country_2  2458151371      SEO  Africa
112   2018-01-01 01:39:44  read  country_5  2458151373   Reddit  Africa
124   2018-01-01 01:50:55  read  country_2  2458151385   Reddit  Africa
126   2018-01-01 01:53:01  read  country_5  2458151387   Reddit  Africa
134   2018-01-01 01:59:16  read  country_7  2458151395   Reddit  Africa
138   2018-01-01 02:02:24  read  country_2  2458151399   Reddit  Africa
143   2018-01-01 02:06:14  read  country_5  2458151404   Reddit  Africa
167   2018-01-01 02:23:04  read  country_2  2458151428   Reddit  Africa
182   2018-01-01 02:36:25  read  country_7  2458151443   Reddit  Africa
185   2018-01-01 02:40:29  read  country_7  2458151446  AdWords  Africa
204   2018-01-01 02:54:20  read  country_7  2458151465   Reddit  Africa
211   2018-01-01 03:01:33  read  country_7  2458151472   Reddit  Africa
272   2018-01-01 03:38:28  read  country_5  2458151533   Reddit  Africa
277   2018-01-01 03:43:16  read  country_5  2458151538   Reddit  Africa
280   2018-01-01 03:50:00  read  country_7  2458151541   Reddit  Africa
286   2018-01-01 03:53:16  read  country_2  2458151547   Reddit  Africa
287   2018-01-01 03:53:30  read  country_2  2458151548   Reddit  Africa
291   2018-01-01 03:55:10  read  country_6  2458151552  AdWords  Africa
319   2018-01-01 04:15:42  read  country_8  2458151580   Reddit  Africa
...                   ...   ...        ...         ...      ...     ...
1325  2018-01-01 18:01:28  read  country_7  2458152586   Reddit  Africa
1362  2018-01-01 18:26:07  read  country_1  2458152623   Reddit  Africa
1373  2018-01-01 18:36:53  read  country_4  2458152634   Reddit  Africa
1396  2018-01-01 18:59:56  read  country_7  2458152657  AdWords  Africa
1412  2018-01-01 19:14:27  read  country_2  2458152673   Reddit  Africa
1422  2018-01-01 19:22:19  read  country_5  2458152683   Reddit  Africa
1445  2018-01-01 19:38:03  read  country_6  2458152706  AdWords  Africa
1446  2018-01-01 19:38:05  read  country_2  2458152707   Reddit  Africa
1484  2018-01-01 20:12:59  read  country_5  2458152745   Reddit  Africa
1494  2018-01-01 20:20:34  read  country_6  2458152755   Reddit  Africa
1495  2018-01-01 20:20:39  read  country_2  2458152756      SEO  Africa
1507  2018-01-01 20:32:54  read  country_7  2458152768   Reddit  Africa
1560  2018-01-01 21:09:59  read  country_6  2458152821   Reddit  Africa
1572  2018-01-01 21:18:20  read  country_6  2458152833   Reddit  Africa
1586  2018-01-01 21:28:28  read  country_5  2458152847   Reddit  Africa
1589  2018-01-01 21:29:51  read  country_3  2458152850  AdWords  Africa
1591  2018-01-01 21:33:51  read  country_2  2458152852   Reddit  Africa
1630  2018-01-01 22:04:05  read  country_4  2458152891   Reddit  Africa
1635  2018-01-01 22:06:29  read  country_5  2458152896  AdWords  Africa
1660  2018-01-01 22:27:20  read  country_4  2458152921   Reddit  Africa
1687  2018-01-01 22:48:51  read  country_8  2458152948   Reddit  Africa
1688  2018-01-01 22:49:18  read  country_1  2458152949      SEO  Africa
1698  2018-01-01 22:56:49  read  country_7  2458152959  AdWords  Africa
1709  2018-01-01 23:03:14  read  country_2  2458152970   Reddit  Africa
1744  2018-01-01 23:24:53  read  country_5  2458153005   Reddit  Africa
1758  2018-01-01 23:32:59  read  country_2  2458153019   Reddit  Africa
1765  2018-01-01 23:41:11  read  country_2  2458153026   Reddit  Africa
1771  2018-01-01 23:45:56  read  country_5  2458153032  AdWords  Africa
1780  2018-01-01 23:51:46  read  country_8  2458153041  AdWords  Africa
1785  2018-01-01 23:54:26  read  country_2  2458153046  AdWords  Africa

[125 rows x 6 columns]

In [25]:
article_read.topic == 'Africa'

0       False
1       False
2        True
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14       True
15      False
16      False
17      False
18      False
19      False
20      False
21       True
22      False
23      False
24       True
25      False
26      False
27      False
28      False
29      False
        ...
1765     True
1766    False
1767    False
1768    False
1769    False
1770    False
1771     True
1772    False
1773    False
1774    False
1775    False
1776    False
1777    False
1778    False
1779    False
1780     True
1781    False
1782    False
1783    False
1784    False
1785     True
1786    False
1787    False
1788    False
1789    False
1790    False
1791    False
1792    False
1793    False
1794    False
Name: topic, Length: 1795, dtype: bool

In [26]:
article_read.head()[['topic', 'country']] #USING TWO FUNCTIONS. AFTER EACH OTHER

           topic    country
0  North America  country_7
1  South America  country_7
2         Africa  country_7
3         Europe  country_7
4  North America  country_8

In [28]:
article_read[['topic', 'country']].head() #ITS THE SAME

           topic    country
0  North America  country_7
1  South America  country_7
2         Africa  country_7
3         Europe  country_7
4  North America  country_8

In [36]:
#Select the user_id, the country and the topic columns for 
#the users who are from country_2! Print the first five rows only!
article_read [article_read.country == 'country_2'][['user_id', 'country', 'topic']].head()

       user_id    country   topic
6   2458151267  country_2  Europe
13  2458151274  country_2  Europe
17  2458151278  country_2    Asia
19  2458151280  country_2    Asia
20  2458151281  country_2    Asia

In [40]:
#you can store steps of the filter (each filter) in variables
article_read_filtered_country = article_read[article_read.country == 'country_2']
article_read_filtered_columns = article_read_filtered_country[['user_id', 'country', 'topic']]
article_read_filtered_final_head = article_read_filtered_columns.head()

In [41]:
article_read_filtered_final_head

       user_id    country   topic
6   2458151267  country_2  Europe
13  2458151274  country_2  Europe
17  2458151278  country_2    Asia
19  2458151280  country_2    Asia
20  2458151281  country_2    Asia